/* 
Project Name: AppointFly
Project URI: https://coderitsolution.com/
Project Author: SD Dipu Roy
Author URi: https://sddipuroy.blogspot.com/
Description: This is test business website
Tags: business website, html template,
Verson:1.0.0

Table of content
=================
**Import CSS Files**
**Default CSS**
1.Header Top Area
2.Header Baner Area
3.Passion Area
4.Team Members Area
5.Connect Apps Area
6.Prements Area
7.Footer Area 
*/

/* 
****** Pricing Page Area Start ******
1.Header Top Area
2.Header Baner Area
3.Pricing Table Area
4.Questions Area
*/
/* 
****** Industries Page Area Start ******
1.Industries Gellary
2.
3.
4.
*/

/* Import CSS Files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

    /****************************/
   /******** Default css *******/
 /****************************/

html{
  font-size: 62.5%;
 }
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1.6rem;
}
img {
  max-width: 100%;
}
h1{
  font-weight: 700;
  font-size: 72px;
  font-size: 7.2rem;
}
h2{
  font-weight: 700;
  font-size: 60px;
  font-size: 6rem;
  color: #000000;
  line-height: 60px;
  line-height: 6rem;
}
h3{
  font-weight: 700;
  font-size: 35px;
  font-size: 3.5rem;
  color: #000000;
}
h4{
  font-weight: 700;
  color: #EE3465;
}
p{
  color: #696969;
}
.section-tittle{
  padding: 50px 0;
  padding: 5rem 0;
  text-align: center;
}
.section-tittle h2{
  max-width: 750px;
  max-width: 75rem;
  margin: auto;
  padding-bottom: 20px;
  padding-bottom: 2rem;
}
.section-tittle p{
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 23px;
  line-height: 2.3rem;
  max-width: 600px;
  max-width: 60rem;
  margin: auto;
}
.section-padding{
  padding: 70px 0;
  padding: 7rem 0;
}

    /********************************/
  /****** 1. Header Top Area ******/
/********************************/

.header-top-aria{
  padding: 40px 0;
  padding: 4rem 0;
  position: relative;
}
.logo img{
  height: 35px;
  height: 3.5rem;
  width: auto;
}
/* menu */
.menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu ul li{
  margin: 0 10px;
  margin: 0 1rem;
}
.menu ul li a{
  font-weight: 600;
  color: #000;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  -webkit-transition: .5s;
  transition: .5s;
}
.menu ul li.active a,
.menu ul li a:hover{
  color: #0A58CA;
}
.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  
}
.header-buttons a{
  font-weight: 600;
  color: #18214D;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  padding: 8px 15px;
  padding: .8rem 1.5rem;
  border-radius: 1rem;
  -webkit-transition: .5s;
  transition: .5s;
  margin-left: 10px;
  margin-left: 1rem;
}
.header-buttons a.active,
.header-buttons a:hover{
  background: #345DEE;
  color: #ffff;
  padding: 8px 15px;
  padding: .8rem 1.5rem;
  border-radius: 1rem;
}
.header-buttons a.active:hover{
  background: #2849BA;
}

.menu-icon{
  color: #345DEE !important; 
  border: 1px solid #345DEE; 
  display: none !important;
}
.menu-icon:hover{
  color: #fff !important;
}

    /*********************************/
  /****** 2.Header Baner Area ******/
/*********************************/

.header-baner-aria{
  padding-top: 20px;
  padding-top: 2rem;
  padding-bottom: 80px;
  padding-bottom: 8rem;
}
.baner-left h1{
max-width: 568px;
max-width: 56.8rem;
margin-bottom: 20px;
margin-bottom: 2rem;
}
.baner-left > p{
  font-size: 20px;
  font-size: 2rem;
  line-height: 28px;
  line-height: 2.8rem;
  margin-bottom: 20px;
  margin-bottom: 2rem;
}
/* subscribe-form css */
.subscribe-form form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 568px;
  max-width: 56.8rem;
}
.subscribe-form form input[type="email"]{
  background: #EFF2F6;
  border: none;
  outline: none;
  -webkit-box-flex:0;
      -ms-flex:0 0 calc(70% - 10px);
          flex:0 0 calc(70% - 10px);
  max-width:calc(70% - 10px) ;
  border-radius: 1rem;
  padding: 12px;
  padding:1.2rem ;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
}
.subscribe-form form input[type="email"]::-webkit-input-placeholder{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.subscribe-form form input[type="email"]::-moz-placeholder{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.subscribe-form form input[type="email"]:-ms-input-placeholder{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.subscribe-form form input[type="email"]::placeholder{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.subscribe-form form input[type="submit"]{
  background: #345DEE;
  border: none;
  -webkit-box-flex:0;
      -ms-flex:0 0 30%;
          flex:0 0 30%;
  max-width: 30%;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 1rem;
  color: #ffff;
  text-transform: capitalize;
  padding: 12px 0;
  padding:1.2rem 0 ;
}
.subscribe-form p{
  margin: 10px 0;
  margin: 1rem 0;
}
.baner-right{
  text-align: right;
}
.baner-right img{
  max-width: 70%;
}

    /******************************/
  /******* 3.Passion Area *******/
/******************************/

.passion-single-row{
  padding: 50px 0;
  padding: 5rem 0;
}
.passion-content{
  max-width: 455px;
  max-width: 45.5rem;
}
.passion-content h4{
  margin-bottom: 10px;
  margin-bottom: 1rem;
}
.passion-content h3{
  line-height: 35px;
  line-height: 3.5rem;
  margin-bottom: 15px;
  margin-bottom: 1.5rem;
}
.passion-content p{
  padding-right: 30px;
  padding-right: 3rem;
}
.passion-content a{
  color: #000;
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
  text-decoration: none;
  position: relative;
}
.passion-content a:after{
  content: "";
  position: absolute;
  right: 0;
  bottom: 3px;
  height: 2px;
  width: calc(100% - 40px);
  background: #000;
  -webkit-transition: .5s;
  transition: .5s;
}
.passion-content a i{
  font-size: 30px;
  font-size: 3rem;
  color: #345DEE;
  margin-right: 10px;
  margin-right: 1rem;
  text-decoration: none;
}
.passion-content a:hover{
  color: #345DEE;
}
.passion-content a:hover:after{
  background: #345DEE;
}
.passion-image{
  text-align: right;
}
.passion-image img{
  max-width: 450px;
  max-width: 45rem;
}
.passion-single-row:nth-child(odd) .passion-image{
  text-align: start;
}
.passion-single-row:nth-child(odd) .passion-content{
  float: right;
}

    /********************************/
  /****** 4.Team Members Area ******/
/********************************/

.single-member{
  border: 3px solid #DFE4EA;
  border-radius: 1rem;
  padding: 20px;
  padding: 2rem;
  box-sizing: border-box;
}
#popup{
  position: relative;
  display: block;
}
#popup:after{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(10, 93, 255, .5);
  border-radius: 1rem;
}
.team-member-img img{
  height: 220px;
  height: 22rem;
  width: 100%;-o-object-fit: cover;object-fit: cover;
  border-radius: 1rem;
}
.single-member p{
  font-size: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding-top: 20px;
  padding-top: 2rem;
  color: #18214D;
  text-align: center;
}
.team-see-more{
  text-align: center;
  margin-top: 50px;
  margin-top: 5rem;
}
.team-see-more a{
  font-weight: 600;
  text-decoration: none;
  color: #18214D;
}
.team-see-more a img{
  margin-left: 10px;
  margin-left: 1rem;
}


    /**********************************/
  /******* 5.Connect Apps Area *******/
/************************************/

.connect-apps-area .section-tittle h2{
  max-width: 100%;
}
.apps-carousel{
  max-width: 900px;
  max-width: 90rem;
  margin: auto;
  position: relative;
}
.single-apps{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  height: 4.5rem;
}
.single-apps img{
  max-width: 115px;
  max-width: 11.5rem;
  height: auto;
  margin: auto;
}
.apps-carousel .owl-prev{
  height: 40px;
  height: 4rem;
  width: 40px;
  width: 4rem;
  border-radius: 50%;
  text-align: center;
  background: #EFF2F6 !important;
  position: absolute;
  left: -80px;
  left: -8rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.apps-carousel .owl-next{
  height: 40px;
  height: 4rem;
  width: 40px;
  width: 4rem;
  border-radius: 50%;
  text-align: center;
  background: #EFF2F6 !important;
  position: absolute;
  right: -80px;
  right: -8rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}


    /**********************************/
  /********* 6.Prements Area *********/
/************************************/
.prements-area{
  padding-top: 40px;
  padding-top: 4rem;
}
.prement-tittle h2{
  font-size: 72px;
  font-size: 7.2rem;
  line-height: 70px;
  line-height: 7rem;
}
.prements-btn a{
  background: #345DEE;
  border: none;
  text-decoration: none;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 1rem;
  color: #ffff;
  text-transform: capitalize;
  padding: 12px 40px;
  padding:1.2rem 4rem ;
  display: inline-block;
  margin-bottom: 20px;
  margin-bottom: 2rem;
  -webkit-transition: .5s;
  transition: .5s;
}
.prements-btn a:hover{
  background: #2849BA;
}


    /*********************************/
  /********* 7.Footer Area *********/
/*********************************/

.footer-top{
  padding-bottom: 50px;
  padding-bottom: 5rem;
}
.single-footer-items h3{
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 700;
}
.single-footer-items ul{
  padding: 0;
  list-style: none;
}
.single-footer-items ul li a{
  text-decoration: none;
  color: #696969;
  display: block;
  padding: 5px 0;
  -webkit-transition: .5s;
  transition: .5s;
}
.single-footer-items ul li a:hover{
  color: #345DEE;
}

/* Copyright Area */
.footer-copyright{
  border-top: 2px solid #DFE4EA ;
  padding: 40px 0;
  padding: 4rem 0;
}
.footer-social-icon ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer-social-icon ul li {
  margin-left: 20px;
  margin-left: 2rem;
}
.footer-social-icon ul li a {
  text-decoration: none;
  height: 50px;
  height: 5rem;
  width: 50px;
  width: 5rem;
  border-radius: 50%;
  color: #000000;
  background: #EFF2F6;
  display: block;
  text-align: center;
  line-height: 50px;
  line-height: 5rem;
  font-size: 18px;
  font-size: 1.8rem;
  -webkit-transition: .5s;
  transition: .5s;

}
.footer-social-icon ul li a:hover{
  color: #fff;
  background: #345DEE;
}
.subscribe-form p{
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 600;
}

    /*********************************/
  /********* End Index Page *********/
/*********************************/

    /**************************************/
  /******* Start Pricing Page Area *******/
/****************************************/

    /**************************************/
  /***** 3.Pricing Table Area *****/
/****************************************/
.price-control{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 70px 0;
  margin: 7rem 0;
}
.price-control span{
  font-weight: 600;
}
.price-control .check-box{
  width: 60px;
  width: 6rem; 
  height: 30px; 
  height: 3rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid #EE3465;
  border-radius: 2rem;
  position: relative;
  margin: 0 10px;
  margin: 0 1rem;
}
.price-control .check-box:after{
  content: "";
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 20px;
  height: 2rem;
  width: 20px;
  width: 2rem;
  border-radius: 50%;
  background: #EE3465;
  -webkit-transition: .5s;
  transition: .5s;
}
.check-box:checked:after{
  right: 60%;
}
.pricing-content h3{
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: 600;
  color: #000000;
  padding-top: 20px;
  padding-top: 2rem;
}
.pricing-content ul{
  list-style: none;
  padding: 0;
}
.pricing-content ul li{
  margin: 20px 0;
  margin: 2rem 0;
}
.pricing-content ul li i{
  padding-left: 20px;
  padding-left: 2rem;
}
.single-packge h3{
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 600;
}
.single-packge {
	background: #EFF2F6;
	padding: 40px 0 70px 0;
	padding: 4rem 0 7rem 0;
	border-radius: 1rem;
	height: 100%;
}
.single-packge h2{
  padding: 20px 0;
  padding: 2rem 0;
}
.single-packge p{
  color:#000000;
}
.packge-items{
  padding-top: 70px;
  padding-top: 7rem;
}
.packge-items p{
  font-size: 24px;
  font-size: 2.4rem;
  font-weight: 600;
  color: #000000;
}
.packge-items a{
  background: #345DEE;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 1rem;
  color: #ffff;
  text-transform: capitalize;
  padding: 12px 40px;
  padding: 1.2rem 4rem;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  display: inline-block;
  margin-top: 100px;
  margin-top: 10rem;
}
.packge-items a:hover{
  background: #2849BA;
}
.packge-items .one-btn {
	margin-top: 230px !important;
	margin-top: 23rem !important;
}
.packge-items ul{
  list-style: none;
}
.packge-items ul li{
  margin: 20px 0;
  margin: 2rem 0;
}
.packge-items ul li i{
  margin-right: 10px;
  margin-right: 1rem;
}
.packge-items-two{
  padding-top: 70px;
  padding-top: 7rem;
}

    /************************************/
  /******* 3.Questions Area *******/
/************************************/
.question-area .section-tittle h2 {
	max-width: 100%;
}
.accordion-button {
	font-size: 20px;
	font-size: 2rem;
  font-weight: 600;
	color: #000000 !important;
}
.accordion-button:not(.collapsed) {
	background-color: #fff;
}
.accordion-button:focus {
	box-shadow: none;
}
.accordion-button:after {
	background-image: url("../images/pricing/plus-solid.svg");
}
.accordion-button:not(.collapsed):after {
	background-image: url("../images/pricing/minus-solid.svg");
}

    /********************************/
  /******* End Pricing Page *******/
/********************************/

    /******************************************/
  /******* Start Industries Page Area *******/
/******************************************/


    /**************************************/
  /***** 3.Industries Gellary Area *****/
/****************************************/

.gallery-controls ul{
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
  margin: 3rem 0;
}
.gallery-controls ul li {
  padding: 10px 20px;
  padding: 1rem 2rem;
  color: #345DEE;
  border: 1px solid #345DEE;
  box-sizing: border-box;
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: 600;
  cursor: pointer;
  border-right: none;
}
.gallery-controls ul li:last-child{
  border: 1px solid #345DEE;
}
.gallery-controls ul li.mixitup-control-active,
.gallery-controls ul li:hover{
  background: #345DEE;
  color: #fff;
}
    /**************************************/
  /******* End Industries Page Area *******/
/****************************************/
.industries-aria{
  padding-bottom: 70px;
  padding-bottom: 7rem;
}
.gallery-items .single-member {
	margin-bottom: 30px;
	margin-bottom: 3rem;
}

/* Contact Area */
.contact-us .section-tittle {
  text-align: left;
}
.contact-us .section-tittle p {
	margin: 0;
}
/* contact-form css */
.input-control{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact-form form input[type="text"]{
  margin-right: 10px;
  margin-right: 1rem;
}
.contact-form form input[type="text"],
.contact-form form input[type="email"]{
  background: #EFF2F6;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 12px;
  padding:1.2rem ;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
  width: 100%;
}
.contact-form .text-area::-webkit-input-placeholder,
.contact-form form input[type="text"]::-webkit-input-placeholder,
.contact-form form input[type="email"]::-webkit-input-placeholder{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.contact-form .text-area::-moz-placeholder,
.contact-form form input[type="text"]::-moz-placeholder,
.contact-form form input[type="email"]::-moz-placeholder{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.contact-form .text-area:-ms-input-placeholder,
.contact-form form input[type="text"]:-ms-input-placeholder,
.contact-form form input[type="email"]:-ms-input-placeholder{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.contact-form .text-area::placeholder,
.contact-form form input[type="text"]::placeholder,
.contact-form form input[type="email"]::placeholder{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.contact-form .text-area{
  width: 100%;
  height: 150px;
  height: 15rem;
  background: #EFF2F6;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 12px;
  padding:1.2rem ;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
  margin-top: 10px;
  margin-top: 1rem;
  resize: none;
}
.contact-form input[type="submit"]{
  background: #345DEE;
  border: none;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 1rem;
  color: #ffff;
  text-transform: capitalize;
  padding: 12px 40px;
  padding:1.2rem 4rem ;
  display:block;
  margin-top: 10px;
  margin-top: 1rem;
  width: calc(50% - 10px);
}
.contact-dtls{
  float: right;
}
.contact-dtls span{
  font-size: 14px;
  font-size: 1.4rem;
  color: #696969;
  padding-bottom: 10px;
  padding-bottom: 1rem;
  display: inline-block;
}
.contact-dtls p{
  font-size: 22px;
  font-size: 2.2rem;
  font-weight: 600;
  color: #000000;
}
.contact-dts-single-item{
  padding-top: 20px;
  padding-top: 2rem;
}
.contact-social-icon {
  margin-top: 30px;
  margin-top: 3rem;
}
.contact-social-icon ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.contact-social-icon ul li {
  margin-right: 20px;
  margin-right: 2rem;
}
.contact-social-icon ul li a {
  text-decoration: none;
  height: 50px;
  height: 5rem;
  width: 50px;
  width: 5rem;
  border-radius: 50%;
  color: #000000;
  background: #EFF2F6;
  display: block;
  text-align: center;
  line-height: 50px;
  line-height: 5rem;
  font-size: 18px;
  font-size: 1.8rem;
  -webkit-transition: .5s;
  transition: .5s;

}
.contact-social-icon ul li a:hover{
  color: #fff;
  background: #345DEE;
}
    /*************************************/
  /******* Start About Page Area *******/
/*************************************/
.about-content p{
  max-width: 445px;
  max-width: 44.5rem;
  color: #000000;
  font-size: 18px;
  font-size: 1.8rem;
  padding-bottom: 30px;
  padding-bottom: 3rem;
}
    /*************************************/
  /******* Start Terms Page Area *******/
/*************************************/

.terms-area .terms-content p{
  color: #000000;
  font-size: 18px;
  font-size: 1.8rem;
  padding-bottom: 30px;
  padding-bottom: 3rem;
}

.features-footer{
  margin-top: 80px;
  margin-top: 8rem;
}